# Lab | Data Structuring and Combining Data

## Challenge 1: Combining & Cleaning Data

In this challenge, we will be working with the customer data from an insurance company, as we did in the two previous labs. The data can be found here:
- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv

But this time, we got new data, which can be found in the following 2 CSV files located at the links below.

- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file2.csv
- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file3.csv

Note that you'll need to clean and format the new data.

Observation:
- One option is to first combine the three datasets and then apply the cleaning function to the new combined dataset
- Another option would be to read the clean file you saved in the previous lab, and just clean the two new files and concatenate the three clean datasets

In [1]:
import pandas as pd
import numpy as np
import clean_functions as ft


######## Basic imports

url1 = "https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv"
url2 = "https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file2.csv"
url3 = "https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file3.csv"

df1 = pd.read_csv(url1)
df2 = pd.read_csv(url2)
df3 = pd.read_csv(url3)

######## Reworking columns

df1.columns = [col.strip().replace(" ", "_").lower() for col in df1.columns]
df2.columns = [col.strip().replace(" ", "_").lower() for col in df2.columns]
df3.columns = [col.strip().replace(" ", "_").lower() for col in df3.columns]

# clearing column names, uniformizing for merging
df1 = df1.rename({'st':"state", "customer_lifetime_value":"lifetime_value_%", "number_of_open_complaints":"complaints", "vehicle_class":"class", "total_claim_amount":"claim_amount" }, axis=1)
df2 = df2.rename({'st':"state", "customer_lifetime_value":"lifetime_value_%", "number_of_open_complaints":"complaints", "vehicle_class":"class", "total_claim_amount":"claim_amount" }, axis=1)
df3 = df3.rename({'st':"state", "customer_lifetime_value":"lifetime_value_%", "number_of_open_complaints":"complaints", "vehicle_class":"class", "total_claim_amount":"claim_amount" }, axis=1)

#overview of column name
#display(df2.head(2))
#display(df2.head(2))
#display(df3.head(2))

### Heavy cleaning

#cleans states
state_dict = {"Arizona":"AZ","California":"Cali","Washington":"WA"}
df1["state"] = df1["state"].apply(lambda x : ft.clean_fix(x,state_dict))
df2["state"] = df2["state"].apply(lambda x : ft.clean_fix(x,state_dict))

#cleans gender
gender_clean={"F":["FEMALE", "FEMAL"], "M":["MALE"] }
df1["gender"] = df1["gender"].apply(lambda x : ft.clean_fix(x.upper(), gender_clean) if isinstance(x, str) else x)
df2["gender"] = df2["gender"].apply(lambda x : ft.clean_fix(x.upper(), gender_clean) if isinstance(x, str) else x)

#cleans complaints
df1["complaints"] = df1["complaints"].apply(lambda x: ft.clean_fix(x, {}))
df2["complaints"] = df2["complaints"].apply(lambda x: ft.clean_fix(x, {}))

#cleans education
edu_dict = {"Bachelor":"Bachelors"}
df1["education"] = df1["education"].apply(lambda x: ft.clean_fix(x,edu_dict))
df2["education"] = df2["education"].apply(lambda x: ft.clean_fix(x,edu_dict))

#cleans class
class_clean={"Luxury Car":["Sports Car", "Luxury SUV"]}
df1["class"] = df1["class"].apply(lambda x: ft.clean_fix(x,class_clean))
df2["class"] = df2["class"].apply(lambda x: ft.clean_fix(x,class_clean))
df3["class"] = df3["class"].apply(lambda x: ft.clean_fix(x,class_clean))

# cleans  lifetime value
df1["lifetime_value_%"] = df1["lifetime_value_%"].str.rstrip("%").apply(lambda x: ft.clean_num(x,1))
df2["lifetime_value_%"] = df2["lifetime_value_%"].str.rstrip("%").apply(lambda x: ft.clean_num(x,1))
df3["lifetime_value_%"] = df3["lifetime_value_%"].apply(lambda x: ft.clean_num(x,1))

# cleans claim amount
df1['claim_amount'] = df1['claim_amount'].apply(lambda x: ft.clean_num(x,1))
df2['claim_amount'] = df2['claim_amount'].apply(lambda x: ft.clean_num(x,1))
df3['claim_amount'] = df3['claim_amount'].apply(lambda x: ft.clean_num(x,1))

#overview after cleaning
#display(df2.head(2))
#display(df2.head(2))
#display(df3.head(2))

### concat dataframes

df = pd.concat([df1,df2,df3], axis=0)

display(df.head(5))

,customer,state,gender,education,lifetime_value_%,income,monthly_premium_auto,complaints,policy_type,class,claim_amount
0,RB50392,Washington,NaN,Master,NaN,0.0,1000.0,0,Personal Auto,Four-Door Car,2.7
1,QZ44356,Arizona,F,Bachelor,697953.6,0.0,94.0,0,Personal Auto,Four-Door Car,1131.5
2,AI49188,Nevada,F,Bachelor,1288743.2,48767.0,108.0,0,Personal Auto,Two-Door Car,566.5
3,WW63253,California,M,Bachelor,764586.2,0.0,106.0,0,Corporate Auto,SUV,529.9
4,GA49547,Washington,M,High School or Below,536307.7,36357.0,68.0,0,Personal Auto,Four-Door Car,17.3

# Challenge 2: Structuring Data

In this challenge, we will continue to work with customer data from an insurance company, but we will use a dataset with more columns, called marketing_customer_analysis.csv, which can be found at the following link:

https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis_clean.csv

This dataset contains information such as customer demographics, policy details, vehicle information, and the customer's response to the last marketing campaign. Our goal is to explore and analyze this data by performing data cleaning, formatting, and structuring.

In [2]:
import pandas as pd
import numpy as np


uurl = "https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis_clean.csv"

dfmark = pd.read_csv(uurl)

display(dfmark.dtypes)

unnamed:_0                         int64
customer                          object
state                             object
customer_lifetime_value          float64
response                          object
coverage                          object
education                         object
effective_to_date                 object
employmentstatus                  object
gender                            object
income                             int64
location_code                     object
marital_status                    object
monthly_premium_auto               int64
months_since_last_claim          float64
months_since_policy_inception      int64
number_of_open_complaints        float64
number_of_policies                 int64
policy_type                       object
policy                            object
renew_offer_type                  object
sales_channel                     object
total_claim_amount               float64
vehicle_class                     object
vehicle_size                      object
vehicle_type                      object
month                              int64
dtype: object

In [3]:
# since marketing will only work with sales channel, revenue, customer lifetime value, gender and educatio, we exclude all other columns
dfmark2 = dfmark[["sales_channel","customer_lifetime_value" ,"total_claim_amount", "months_since_last_claim", "gender", "education"]].copy()

# uses previous function to round claim amount to 2 decimals
dfmark2["total_claim_amount"] = dfmark2["total_claim_amount"].apply(lambda x: ft.clean_num(x,2))

df_1 = dfmark2[["sales_channel", "total_claim_amount"]]

grouped_df = df_1.groupby("sales_channel").sum()
#display(grouped_df)

pivot_df = dfmark2.pivot_table(columns='sales_channel', values=['total_claim_amount'], aggfunc='sum')
display(pivot_df)

## Higher value came from Agent, being Web the channel with the least revenue.

# Using pivot, create a summary table showing the total revenue for each sales channel (branch, call center, web, and mail).
# Round the total revenue to 2 decimal points.  Analyze the resulting table to draw insights.

sales_channel            Agent      Branch  Call Center        Web
total_claim_amount  1810226.88  1301204.34    926601.02  706600.02

In [6]:
# Create a pivot table that shows the average customer lifetime value per gender and education level. Analyze the resulting table to draw insights.

df_2 = dfmark2[["customer_lifetime_value","gender", "education"]].copy()
df_2["customer_lifetime_value"] = df_2["customer_lifetime_value"].apply(lambda x: ft.clean_num(x,2))

pivot_df2 = df_2.pivot_table(index="education", columns='gender', values=['customer_lifetime_value'], aggfunc='mean').round(2)

display(pivot_df2)

## Analyze
# Higher lifetime value is highest for both genders at HS or below education levels, Master being close second. College seems to have higher values for M than F, HS and below have reversed dispersion.
# Doctors seem to have the lowest lifetime value.
#

                     customer_lifetime_value
gender                                     F        M
education
Bachelor                             7874.27  7703.60
College                              7748.82  8052.46
Doctor                               7328.51  7415.33
High School or Below                 8675.22  8149.69
Master                               8157.05  8168.83

1. You work at the marketing department and you want to know which sales channel brought the most sales in terms of total revenue. Using pivot, create a summary table showing the total revenue for each sales channel (branch, call center, web, and mail).
Round the total revenue to 2 decimal points.  Analyze the resulting table to draw insights.

2. Create a pivot table that shows the average customer lifetime value per gender and education level. Analyze the resulting table to draw insights.

## Bonus

You work at the customer service department and you want to know which months had the highest number of complaints by policy type category. Create a summary table showing the number of complaints by policy type and month.
Show it in a long format table.

*In data analysis, a long format table is a way of structuring data in which each observation or measurement is stored in a separate row of the table. The key characteristic of a long format table is that each column represents a single variable, and each row represents a single observation of that variable.*

*More information about long and wide format tables here: https://www.statology.org/long-vs-wide-data/*

In [43]:
dfbonus = dfmark[["number_of_open_complaints","month" ,"policy_type"]].copy()

#display(dfbonus["number_of_open_complaints"].dtype)

pivot_df = dfbonus.pivot_table(index='month', columns='policy_type', values=['number_of_open_complaints'], aggfunc='sum').round(2)
df_multiindex = pivot_df.stack()

#df_multiindex = dfbonus.set_index(['month','policy_type'])

display(df_multiindex)

### As we can see, highest nr of complaints is with personal auto on both months, although month 2 shows a slight decrease. Special autos have little complains.

                      number_of_open_complaints
month policy_type
1     Corporate Auto                     443.43
      Personal Auto                     1727.61
      Special Auto                        87.07
2     Corporate Auto                     385.21
      Personal Auto                     1453.68
      Special Auto                        95.23

'\nprint(df_multiindex)\n'